/*.members {
    display: inline-block;
    padding: 5px;
    cursor: move;
    list-style-type: none;
}
.members:hover {
    background: skyblue;
}
.members input {
    cursor: pointer;
    background: #eee;
    border: 1px solid #ccc;
}
.members button {
    cursor: pointer;
    background: #eee;
    border: 1px solid #ccc;
}*/