<div *ngFor="let project of projects | async">
  <div *ngIf="project.$key === selected">
    <form>
      <div>
        <span>議題</span>
        <input type="text" value="{{project.title}}" #newTitle [readonly]="readonly">
        <button type="button" (click)="change()">変更</button>
        <button type="button" (click)="update(project, 'title', newTitle.value)">保存</button>
      </div>
      <div>
        <span>日付</span>
        <input type="date" value="{{project.date}}"#newDate (blur)="update(project, 'date', newDate.value)">
      </div>
      <div>
        <span>時間</span>
        <select #newStartTime (blur)="update(project, 'startTime', newStartTime.value)">
          <option value="00:00" [selected]="project.startTime === '00:00'">00:00</option>
          <option value="00:15" [selected]="project.startTime === '00:15'">00:15</option>
          <option value="00:30" [selected]="project.startTime === '00:30'">00:30</option>
          <option value="00:45" [selected]="project.startTime === '00:45'">00:45</option>
          <option value="01:00" [selected]="project.startTime === '01:00'">01:00</option>
        </select>
        〜
        <select #newEndTime (blur)="update(project, 'endTime', newEndTime.value)">
          <option value="00:00" [selected]="project.endTime === '00:00'">00:00</option>
          <option value="00:15" [selected]="project.endTime === '00:15'">00:15</option>
          <option value="00:30" [selected]="project.endTime === '00:30'">00:30</option>
          <option value="00:45" [selected]="project.endTime === '00:45'">00:45</option>
          <option value="01:00" [selected]="project.endTime === '01:00'">01:00</option>
        </select>
      </div>
      <div>
        <span>場所</span>
        <input type="text" value="{{project.place}}" #newPlace>
        <button type="button">変更</button>
        <button type="button" (click)="update(project, 'place', newPlace.value)">保存</button>      
      </div>
      <div>
        <span>参加者</span>
        <input type="text" #newMember>
        <button type="button" (click)="updateArrayData(project, 'members', newMember.value)">追加</button>
        <button type="button" (click)="deleteAll(project, 'members')">全削除</button>
      </div>
      <span *ngFor="let member of project.members">
          <span class="members">{{member}}</span>
      </span>
      <div>
        <span>書記</span>
        <input type="text" #newSecretary>
        <button type="button" (click)="updateArrayData(project, 'secretaries', newSecretary.value)">追加</button>
        <button type="button" (click)="deleteAll(project, 'secretaries')">全削除</button>
      </div>
      <span *ngFor="let secretary of project.secretaries">
          <span>{{secretary}}</span>
      </span>
      <div>
        <span>項目</span>
        <input type="text" #newItem>      
        <button type="button" (click)="updateArrayData(project, 'items', newItem.value)">追加</button>
      </div>
      <ul *ngFor="let item of project.items">
          <li>{{item}}</li>
      </ul>
      <div [hidden]="hidden">
        <input type="checkbox" (click)="hide()" [checked]="checked">
        <span>サインする</span>
      </div>
      <button type="button" (click)="testShow()">サイン表示</button>
    </form>
  </div>
</div>

<!--test-->
<!--<br>
<div>
  <form [formGroup]="dataForm">
    <input type="text" value="test1" formControlName="data">
    <input type="text" value="test2">
    <button type="button">test</button>
    <br>
    <input type="checkbox" (click)="testHidden()" [checked]="checked" [hidden]="hidden">
    <span [hidden]="hidden">サインする</span>
    <button type="button" (click)="testShow()">表示</button>
  </form>
</div>
<P> Form value: {{dataForm.value | json}}</P>
<p> Form status: {{dataForm.status | json}}</p>-->